<md-toolbar color="primary">

  <span>MyApp</span>
  <span class="example-spacer"></span>
  <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>

</md-toolbar>

<md-menu #appMenu="mdMenu">
  <!--routerLink - директива задает адрес для ссылки -->
  <!--routerLinkActive - директива устанавливает или удаляет класс в зависимости от состояния маршрута-->
  <a md-menu-item routerLink="/custom1" routerLinkActive="active">Registration</a>
  <a md-menu-item routerLink="/custom2" routerLinkActive="active">List Of Users</a>
  <a md-menu-item routerLink="/custom3" routerLinkActive="active">Cash</a>
  <a md-menu-item routerLink="/custom4" routerLinkActive="active">Chat</a>
</md-menu>

<div class="wrap">
  <div>
    <!--router-outlet после данного элемента будет отображаться компонент, который выбирает роутер в соответствии с маршрутом-->
    <router-outlet></router-outlet>
  </div>
</div>
